img {
  max-width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto; /* Sempre centraliza na tela */
  /* Poderia ser margin: 0 auto; */
}

.cover img {
  height: 100%;
  object-fit: cover; /* Corta a imagem pra que ela caiba no container */
  object-position: top center; /* Corta na direita/esquerda mantendo a imagem centralizada */
}

.texto {
  align-self: center;
  max-width: 75ch; /* Tamanho máximo das linhas de texto, cada ch é o tamanho de um caractere "0" da tipografia */
}

p {
  font-size: 2rem;
}
