* {  /* Seletor universal */
  margin: 0px;
  padding: 0px;
}

h1 { /* Seletor de tag */
  color: red;
}

/* 
Combinador de seletor descendente. Seleciona elementos descendentes de outro elemento
body div {
  background-color: blueviolet;
}
*/

body div div p, body div section p { /* Combinadores de seletor descendente com uso de vírgula para fazer aplicar as mesmas regras para mais de uma seleção */
  background-color: blueviolet;
}

.header-2 { /* Seletor de classe */
  color: blue;
}

#special-div { /* Seletor de ID */
  border: 2px solid red;
}

#special-div p { /* Seletor de ID + combinador de seletor descendente */
  background-color: yellow;
  color: red;
}